
@use '@/assets/settings' as *;

.aboutus__cont {
  color: $color-white-1;

  display:         flex;
  flex-direction:  column;
  justify-content: center;
  justify-items:   center;
  align-items:     flex-start;
}

.aboutus__cont_title {
  font: 100 67px/120% 'Righteous';
  @include font-size-adapt(67);

  margin: 0 0 41px;

  @media (max-width: $page-width-1280) {
    margin-bottom: 12px;
  }
}

.aboutus__cont_text {
  font: 100 25px/140% 'Poppins';
  @include font-size-adapt(25);

  margin: 0 152px 52px 0;

  @media (max-width: $page-width-1280) {
    @include font-size-adapt(35);
    line-height: 120%;

    margin-right: 40px;
  }

  @media (max-width: $page-width-1280) {
    margin-bottom: 20px;
  }
}

.button-white-green {
  background:  $color-white-1;
  color:       $color-green-1;
  font-weight: 400;
  padding:     0 37px;
}
