
@use '@/assets/settings' as *;

@use '@/assets/wgallery/wgallery__title';
@use '@/assets/wgallery/wgallery__main';
@use '@/assets/wgallery/wgallery__card';
@use '@/assets/wgallery/wgallery__pager';

.wgallery {
  display:        flex;
  flex-direction: column;
  align-items:    stretch;
  margin:         0 0 173px;

  @media (max-width: $page-width-1024) {
    margin-bottom: 12px;
  }
}
