
@use '@/assets/settings' as *;

.studyon__sub {
  font:       500 41px/120% 'Poppins';
  @include font-size-adapt(41);
  text-align: center;
  padding:    0 100px 0 0;
  margin:     0 0 77px;

  @media (max-width: $page-width-1280) {
    margin-bottom: 20px;
  }

  @media (max-width: $page-width-768) {
    @include font-size-adapt(60);

    padding-right: 20px;
  }
}
