
@use '@/assets/settings' as *;

@use '@/assets/creat/creat__title';
@use '@/assets/creat/creat__video';
@use '@/assets/creat/creat__text';
@use '@/assets/creat/creat__btn';

.creat {
  display:         flex;
  flex-direction:  column;
  align-content:   stretch;
  align-items:     stretch;
  justify-items:   stretch;
  justify-content: stretch;
  aspect-ratio:    1440 / 714;
}

.creat__cont {
  display:         flex;
  flex-direction:  row;
  align-items:     stretch;
  align-content:   stretch;
  justify-content: stretch;
  justify-items:   stretch;
  column-gap:      89px;
  flex-grow:       1;

  @media (max-width: $page-width-1280) {
    column-gap: 30px;
  }
}

.creat__left {
  flex-basis:      52.22%;
  flex-shrink:     0;
  display:         flex;
  align-items:     flex-start;
  justify-content: right;
  box-sizing:      border-box;
  padding:         0 0 20px 20px;

  @media (max-width: $page-width-1280) {
    align-items: center;
  }

  @media (max-width: $page-width-768) {
    display: none;
  }
}

.creat__right {
  flex-grow:       1;
  display:         flex;
  flex-direction:  column;
  align-items:     flex-start;
  justify-content: left;
  padding:         0 0 20px;

  @media (max-width: $page-width-1280) {
    align-items:     flex-start;
    justify-content: center;
  }

  @media (max-width: $page-width-768) {
    padding-left: 20px;
  }
}
